
ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    
}

.ireland{
    width: 20%;
    display: flex;
    float: right;
    flex-wrap: wrap;
    position: absolute;
    left: 80%;
    fill: aliceblue;
}

.reset{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 10px;
}
.startbtn{
    margin-top: 200px;
}
.title{
    margin-bottom: 10px;
}